<h1>Author</h1>
<table>
    <tr>
        <td>Username:</td>
        <td>{{author.username}}</td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>{{author.email}}</td>
    </tr>
    <tr>
        <td>Number of Books:</td>
        <td>{{author.nbbooks}}</td>
    </tr>
</table>
<a href="{{path('list_authors')}}">Return</a>
